.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* 
Globe CSS
*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000000 url(/public/loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

#info {

  font-size: 11px;
  position: absolute;
  bottom: 5px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  right: 10px;
  padding: 10px;

}

#currentInfo {
  width: 270px;
  position: absolute;
  left: 20px;
  top: 63px;

  background-color: rgba(0,0,0,0.2);

  border-top: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bull {
  padding: 0 5px;
  color: #555;
}

#title {
  position: absolute;
  top: 20px;
  width: 270px;
  left: 20px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  font: 20px Georgia;
  padding: 10px;
}

.year {
  font: 16px Georgia;
  line-height: 26px;
  height: 30px;
  text-align: center;
  float: left;
  width: 90px;
  color: rgba(255, 255, 255, 0.4);

  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
}

.year:hover, .year.active {
  font-size: 23px;
  color: #fff;
}

#ce span {
  display: none;
}

#ce {
  width: 107px;
  height: 55px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url(/public/ce.png);
}

.GlobeContainer {
  width: 50%;
  height: 50%;
  display: inline-block;
  background-color: green;
  vertical-align: top;
}

/* Amir's CSS */
.TwitterTrends {
  display: inline-block;
  background-color:black;
  vertical-align: top;
  min-width: 250px;
}

.TweetsFilter {
  width: 100%;
  background-color: yellow
}

.LocationInfo {
  height: 20vh;
}

.TweetsList {
  overflow: scroll; 
  height: 80vh;
}
